<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("My Cool Blog") }}</title>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link href="styles/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://yourwebsitehere.com/rss.xml" rel="alternate" type="application/rss+xml" title="RSS feed for My Cool Blog">
    <meta name="description" content="{{ description | default("This is My Cool Blog!") }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title | default("My Cool Blog") }}">
    <meta property="og:url" content="https://yourwebsitehere.com/{{ permalink }}">
    <meta property="og:image" content="https://yourwebsitehere.com/images/{{ featured_image }}">
    <meta property="og:description" content="{{ description | default("This is My Cool Blog!") }}">
  </head>
  
  <body>
    <main id="container">

      <header id="headerArea">
        <nav id="navbar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="archives.html">Archives</a></li>
            <li><a href="links.html">Links</a></li>
          </ul>
        </nav>
      </header>

      <div id="flex">
        <article>
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </article>
      </div>

      <footer id="footer">
        My Cool Blog is really cool, right?
      </footer>

    </main>

    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
    
    <script>
      let topbutton = document.getElementById("topBtn");
      window.onscroll = function() { scrollFunction() };
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          topbutton.style.display = "block";
        } else {
          topbutton.style.display = "none";
        }
      }
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

  </body>
</html>
